{% extends "base.html" %} {% block header %} {% if local %}
<style>
    .colf {
        width: 460px;
    }

    .btn:focus {
        outline: none;
        box-shadow: none;
    }
</style>{% endif %} {% endblock %} {% block title %}{{title}}{% endblock %} {% block content %} {% if local %}
<div class="row g-0">
    <div id="col" class="col-0 colf">
        <div id="scroller">
            <template id="post_template">
                <div class="card m-2 shadow collapse" id="post_id" aria-expanded="false">
                    <h5 class="card-header"><span id="post_time"></span><span id="post_number"
                            class="d-inline text-muted float-end" style="font-size: small;"></span></h5>
                    <div id="post_text" class="card-body"></div>
                    <div class="card-footer">
                        <div class="btn-group" role="group">
                            <button id="delpost" type="button" class="btn btn-danger"
                                onclick="delpost(this.value)">Delete</button>
                            <button id="editpost" type="button" class="btn btn-info" onclick="editpost(this.value)">Edit
                                Post</button>
                        </div>
                    </div>
                </div>
            </template>
        </div>
        <div class="d-flex justify-content-center my-3" id="sentinel">
            <div role="status"></div>
        </div>
    </div>
    <div id="col" class="col-0 colf">
        <div class="card sticky-top mt-2 shadow">
            <h5 class="card-header d-inline">Add post</h5>
            <div class="card-body" style="float:right;">
                <textarea id="posttext" class="form-control fs-5" placeholder="Text here" style="resize: none;"
                    rows=8></textarea>
            </div>
            <div class="card-footer text-muted">
                <button id="postbtn" class="btn btn-primary" style="float: right;">Post</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="editmodal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit_title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <textarea id="edit_text" class="form-control fs-5" style="resize: none;" rows=8></textarea>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" id="savebtn">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delmodal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deltitle">Delete note</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body h6">
                Are you sure? Can't be undone!
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-danger" id="delbtn">Delete note</button>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="card text-white bg-danger m-2" style="max-width: 18rem;">
    <div class="card-header">
        <h5 class="card-title">Only accessible from local network!</h5>
    </div>
</div>
{%endif%} {% endblock %} {% block script %} {% if local %}
<script type="text/javascript">
    var sentinel = document.getElementById("sentinel");
    var counter = 0;
    function delpost(value) {
        var id = value.replace("pid", "");
        document.getElementById("delbtn").value = id;
        $("#delmodal").modal("show");
    };
    $("#delbtn").click(function () {
        this.disabled = true;
        var id = parseInt(this.value);
        var post_time_key = $("#pid" + id).attr("value");
        fetch("{{url_for('views.notes_api')}}", {
            method: "DELETE",
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ time_key: post_time_key }),
        }).then(response => {
            if (!response.ok) alert("Deleting note failed")
            else {
                $(".modal").modal("hide");
                alert("Note successfully deleted")
                this.disabled = false;
                var hide_item = document.getElementById("pid" + id);
                new bootstrap.Collapse(hide_item, "hide");
                console.log(hide_item);
                hide_item.querySelectorAll('[id]').forEach(elem => elem.removeAttribute("id"));
                hide_item.querySelectorAll("button").forEach(elem => elem.removeAttribute("onclick"));
                hide_item.removeAttribute("id");
                next = hide_item.nextElementSibling;
                while(next !== null) {
                    var i = parseInt(next.id.replace("pid",""))
                    next.querySelector("#pn" + i).innerHTML = "#" + (i);
                    next.querySelectorAll('[id]').forEach(elem => elem.id = elem.id.replace(i, (i-1)));
                    next.querySelectorAll("button").forEach(b => b.value = b.value.replace(i, (i-1)));
                    next.id = next.id.replace(i, (i-1));
                    next = next.nextElementSibling;
                }
                counter--;
            }
        });

    });
    function editpost(value) {
        var id = value.replace("pid", "");
        document.getElementById("edit_text").value =
            document.getElementById("ptext" + id).innerHTML.replaceAll("<br>", "\n");
        document.getElementById("savebtn").value = id;
        document.getElementById("edit_title").innerHTML = "Edit note: " + document.getElementById("ptime" + id).innerHTML;
        $("#editmodal").modal("show");
    };
    $("#savebtn").click(function () {
        var formdata = document.getElementById("edit_text").value;
        if (formdata.length <= 1) {
            alert("Please enter text!");
            return;
        }
        this.disabled = true;
        var id = this.value;
        var post_time_key = $("#pid" + id).attr("value");
        fetch("{{url_for('views.notes_api')}}", {
            method: "PATCH",
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ time_key: post_time_key, text: formdata }),
        }).then(response => {
            if (!response.ok) alert("Updating note failed")
            else {
                $(".modal").modal("hide");
                alert("Note successfully submitted")
                this.disabled = false;
                document.getElementById("ptext" + id).innerHTML = formdata.replace(/\n/g, "<br />");
            }
        });
    });
    $("#postbtn").click(function () {
        var formdata = document.getElementById("posttext").value;
        if (formdata.length <= 1) {
            alert("Please enter text!");
            return;
        }
        this.disabled = true;
        fetch("{{url_for('views.notes_api')}}", {
            method: "POST",
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ newpost: formdata }),
        }).then(response => {
            if (response.status !== 200) alert("Submitting post failed")
            else {
                document.getElementById("posttext").value = "";
                alert("Note successfully submitted")
                response.json().then(data => {
                    add_post(data);
                    this.disabled = false;
                });
            }
        });
    });
    function loadItems() {
        fetch(`{{url_for('views.notes_api')}}?c=${counter}`).
            then((response) => {
                response.json().then((data) => {
                    //if (data.length < 10) sentinel.innerHTML = "No more posts";
                    for (var i = 0; i < data.length; i++) {
                        add_post(data[i]);
                    }
                });
            });
    };
    function add_post(data) {
        // No easier way? I want to keep id's unique.
        document.getElementById("scroller").appendChild(document.getElementById("post_template").content.cloneNode(true));
        $("#post_time").text(data.time).attr("id", "ptime" + counter);
        $("#post_number").text("#" + (counter + 1)).attr("id", "pn" + counter);
        document.getElementById("post_text").innerHTML = data.text.replace(/\n/g, "<br />")
        document.getElementById("post_text").id = "ptext" + counter;
        $("#delpost").attr("value", "pid" + counter).attr("id", "dp" + counter);
        $("#editpost").attr("value", "pid" + counter).attr("id", "ep" + counter);
        new bootstrap.Collapse(document.getElementById("post_id"), "show");
        $("#post_id").attr("value", data.time_key).attr("id", "pid" + counter);
        counter++;
    };
    const observer = new IntersectionObserver(entries => {
        if (entries[0].intersectionRatio <= 0) return;
        loadItems();
    });
    observer.observe(sentinel);
</script>
{%endif%} {% endblock %}